# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nova_db

# JWT Configuration (từ Neon Auth)
NEON_AUTH_JWT_SECRET=your_neon_auth_secret_here

# Server Configuration
PORT=4000
NODE_ENV=development

# Frontend CORS
FRONTEND_URL=http://localhost:5000

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=backend_endpoint/api/auth/google/callback

PAYOS_CLIENT_ID=your_payos_client_id_here
PAYOS_API_KEY=your_payos_api_key_here
PAYOS_CHECKSUM_KEY=your_payos_checksum_key_here
# Optional: Neon Serverless (for production)
# DATABASE_URL=postgresql://user:password@ep-xxx.neon.tech/neondb?sslmode=require
